In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
300,tt1155056,41000000,91636986,"I Love You, Man",Paul Rudd|Rashida Jones|Jason Segel|Sarah Burn...,John Hamburg,Are You Man Enough To Say It?,Peter Klaven is a successful real estate agent...,105,Comedy,DreamWorks SKG|The Montecito Picture Company|D...,3/20/2009,6.4,2009
25,tt2381249,150000000,682330139,Mission: Impossible - Rogue Nation,Tom Cruise|Jeremy Renner|Simon Pegg|Rebecca Fe...,Christopher McQuarrie,Desperate Times. Desperate Measures.,Ethan and team take on their most impossible m...,131,Action,Paramount Pictures|Skydance Productions|China ...,7/23/2015,7.1,2015
1174,tt0318283,30000000,15368897,Alex & Emma,Luke Wilson|Kate Hudson|Sophie Marceau|David P...,Rob Reiner,Is it love... or are they just imagining things?,Writer Alex Sheldon (Luke Wilson) must finish ...,96,Comedy|Romance,Epsilon Motion Pictures|Franchise Pictures|Esc...,6/16/2003,5.0,2003
1036,tt1195478,30000000,53909751,The Five-Year Engagement,Emily Blunt|Alison Brie|Jason Segel|Rhys Ifans...,Nicholas Stoller,A comedy about the journey between popping the...,"Exactly one year after Tom meets Violet, he su...",124,Comedy,Universal Pictures|Dentsu|Relativity Media|Apa...,4/27/2012,5.6,2012
1551,tt0421206,30000000,41480851,Gridiron Gang,Dwayne Johnson|Xzibit|L. Scott Caldwell|Leon R...,Phil Joanou,One goal. A second chance.,"Teenagers at a juvenile detention center, unde...",125,Action|Adventure|Crime|Drama,Columbia Pictures,9/15/2006,6.5,2006

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# Adding Profit column
data['profit'] = data.revenue - data.budget
# Modifying genres, actors, director columns, production_companies, release_date into list type.
data['genres'] = data['genres'].str.split('|')

In [6]:
data['director'] = data['director'].str.split('|')

In [7]:
data['cast'] = data['cast'].str.split('|')

In [8]:
data['production_companies'] = data['production_companies'].str.split('|')

In [9]:
data.release_date = data.release_date.str.split('/')

In [10]:
data['release_month'] = data.release_date.apply(lambda x: x[0])

In [11]:
data['original_title_len'] = data.original_title.apply(lambda x: len(x))

In [12]:
data['overview_len'] = data.overview.apply(lambda x: len(x))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [13]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [14]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,original_title_len,overview_len
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...",[Rob Marshall],Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,"[Adventure, Action, Fantasy]","[Walt Disney Pictures, Jerry Bruckheimer Films...","[5, 11, 2011]",6.3,2011,641683000,5,43,411

ВАРИАНТ 2

In [15]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [16]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [17]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,original_title_len,overview_len
1157,tt0279111,56000000,12923936,Gods and Generals,"[Stephen Lang, Jeff Daniels, Robert Duvall, Ke...",[Ronald F. Maxwell],The nations heart was touched by...,The film centers mostly around the personal an...,214,"[Drama, History, War]","[Turner Pictures, Antietam Filmworks]","[2, 21, 2003]",5.8,2003,-43076064,2,17,307

# 3. Какой из фильмов самый короткий (в минутах)?

In [18]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [19]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,original_title_len,overview_len
1157,tt0279111,56000000,12923936,Gods and Generals,"[Stephen Lang, Jeff Daniels, Robert Duvall, Ke...",[Ronald F. Maxwell],The nations heart was touched by...,The film centers mostly around the personal an...,214,"[Drama, History, War]","[Turner Pictures, Antietam Filmworks]","[2, 21, 2003]",5.8,2003,-43076064,2,17,307

# 4. Какова средняя длительность фильмов?

In [20]:
round(data.runtime.mean(),0)

110.0

In [21]:
answers['4'] = '2. 110'

# 5. Каково медианное значение длительности фильмов?

In [22]:
round(data.runtime.median(),0)

107.0

In [23]:
answers['5'] = '1. 107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [24]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,original_title_len,overview_len
239,tt0499549,237000000,2781505847,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron],Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,"[Action, Adventure, Fantasy, Science Fiction]","[Ingenious Film Partners, Twentieth Century Fo...","[12, 10, 2009]",7.1,2009,2544505847,12,6,175

In [25]:
answers['6'] = '5. Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [26]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,original_title_len,overview_len
1245,tt1210819,255000000,89289910,The Lone Ranger,"[Johnny Depp, Armie Hammer, William Fichtner, ...",[Gore Verbinski],Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,"[Action, Adventure, Western]","[Walt Disney Pictures, Jerry Bruckheimer Films...","[7, 3, 2013]",6.0,2013,-165710090,7,15,386

In [27]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [28]:
data[data.profit > 0].imdb_id.nunique()

1478

In [29]:
answers['8'] = '1. 1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [30]:
MaxRevenue2008 = data[data.release_year == 2008].revenue.max()
data[data.revenue == MaxRevenue2008]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,original_title_len,overview_len
599,tt0468569,185000000,1001921825,The Dark Knight,"[Christian Bale, Michael Caine, Heath Ledger, ...",[Christopher Nolan],Why So Serious?,Batman raises the stakes in his war on crime. ...,152,"[Drama, Action, Crime, Thriller]","[DC Comics, Legendary Pictures, Warner Bros., ...","[7, 16, 2008]",8.1,2008,816921825,7,15,396

In [31]:
answers['9'] = '4. The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [32]:
MinProfit2012_2014 = data[data.release_year.isin([2012,2013,2014])].profit.min()
data[data.profit == MinProfit2012_2014]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,original_title_len,overview_len
1245,tt1210819,255000000,89289910,The Lone Ranger,"[Johnny Depp, Armie Hammer, William Fichtner, ...",[Gore Verbinski],Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,"[Action, Adventure, Western]","[Walt Disney Pictures, Jerry Bruckheimer Films...","[7, 3, 2013]",6.0,2013,-165710090,7,15,386

In [33]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [34]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [35]:
data.explode('genres').genres.value_counts().head(1)

Drama    782
Name: genres, dtype: int64

In [36]:
answers['11'] = '3. Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [37]:
data[data.profit > 0].explode('genres').genres.value_counts().head(1)

Drama    560
Name: genres, dtype: int64

In [38]:
answers['12'] = '1. Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [39]:
data.explode('director').groupby(['director']).revenue.sum().sort_values(ascending = False).head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

In [40]:
answers['13'] = '5. Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [41]:
data1 = data.explode('genres')
data1[data1.genres == 'Action'].explode('director').director.value_counts(ascending = False)

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Tim Burton            1
Pitof                 1
Fyodor Bondarchuk     1
Neil Burger           1
David Mamet           1
Name: director, Length: 364, dtype: int64

In [42]:
answers['14'] = '3. Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [43]:
data.explode('cast')[data.release_year == 2012].groupby(['cast']).revenue.sum().sort_values(ascending = False)

C:\Users\alepr\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

In [44]:
answers['15'] = '3. Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [45]:
data[data.budget > data.budget.mean()].explode('cast').cast.value_counts(ascending = False)

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Tom Cruise           15
                     ..
Kyla Pratt            1
Eartha Kitt           1
Harry Treadaway       1
Mary Alice            1
Lewis Black           1
Name: cast, Length: 1505, dtype: int64

In [46]:
answers['16'] = '3. Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [47]:
data1 = data.explode('cast')
data1[data1.cast == 'Nicolas Cage'].explode('genres').genres.value_counts(ascending = False)

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
War                 1
Horror              1
Romance             1
Name: genres, dtype: int64

In [48]:
answers['17'] = '2. Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [49]:
data1 = data.explode('production_companies')
data2 = data1[data1.production_companies == 'Paramount Pictures']
data2[data2.profit == data2.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,original_title_len,overview_len
925,tt0267626,100000000,35168966,K-19: The Widowmaker,"[Harrison Ford, Liam Neeson, Peter Sarsgaard, ...",[Kathryn Bigelow],Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,"[Thriller, Drama, History]",Paramount Pictures,"[7, 19, 2002]",6.0,2002,-64831034,7,20,140

In [50]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [51]:
data.groupby(['release_year']).revenue.sum().sort_values(ascending = False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

In [52]:
answers['19'] = '5. 2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [53]:
data1 = data.explode('production_companies')
data1[data1.production_companies.str.contains ('Warner', na = False)].groupby(['release_year']).profit.sum().sort_values(ascending = False)

release_year
2014    2292949646
2007    2208217007
2008    2134595031
2010    1974712985
2011    1871393682
2003    1844008221
2009    1822454136
2013    1636453400
2004    1631933725
2005    1595278228
2001    1282142579
2012    1258020056
2002    1022709901
2015     870368348
2006     622332868
2000     452631386
Name: profit, dtype: int64

In [54]:
answers['20'] = '1. 2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [55]:
data.release_month.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_month, dtype: int64

In [56]:
answers['21'] = '4. Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [57]:

data.release_month = data.release_month.astype(int)
data.query('5<release_month<9').imdb_id.count()

450

In [58]:
answers['22'] = '2. 450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [59]:
data.explode('director').query('release_month in [12,1,2]').director.value_counts(ascending = False)

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Shawn Levy           4
Nancy Meyers         4
                    ..
Roman Polanski       1
Steve Pink           1
Jessie Nelson        1
Tom Gormican         1
Neil Marshall        1
Name: director, Length: 358, dtype: int64

In [60]:
answers['23'] = '5. Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [61]:
data.explode('production_companies').groupby(['production_companies']).original_title_len.max().sort_values(ascending = False)

production_companies
Four By Two Productions                   83
Twentieth Century Fox Film Corporation    83
Walden Media                              62
Walt Disney                               62
Jim Henson Company, The                   59
                                          ..
Everest Entertainment                      3
Berlanti Productions                       3
XM2 Productions                            2
Global Entertainment Group                 2
Ixtlan Productions                         2
Name: original_title_len, Length: 1771, dtype: int64

In [62]:
answers['24'] = '5. Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [63]:
data.explode('production_companies').groupby(['production_companies']).overview_len.mean().sort_values(ascending = False)

production_companies
Midnight Picture Show                    1000.0
Room 9 Entertainment                      964.0
Brookwell-McNamara Entertainment          936.0
Lions Gate Family Entertainment           909.0
Crest Animation Productions               909.0
                                          ...
Projection Pictures                        74.0
London Boulevard                           74.0
Phantom Four                               72.0
Empire Pictures                            62.0
Motion Picture Corporation of America      59.0
Name: overview_len, Length: 1771, dtype: float64

In [64]:
answers['25'] = '3. Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [80]:
best_movies = int(round(data.imdb_id.nunique()*0.01, 0))
print(best_movies)
data.sort_values(by = 'vote_average').head(best_movies)

19

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,original_title_len,overview_len
709,tt1213644,25000000,14109284,Disaster Movie,"[Matt Lanter, Vanessa Lachey, Nicole Ari Parke...","[Jason Friedberg, Aaron Seltzer]",Your favorite movies are going to be destroyed.,"In DISASTER MOVIE, the filmmaking team behind ...",87,"[Action, Comedy]","[Grosvenor Park Media Ltd., LionsGate, 3 in th...","[8, 29, 2008]",3.3,2008,-10890716,8,14,250
965,tt0295254,40000000,18902015,FearDotCom,"[Stephen Dorff, Natascha McElhone, Stephen Rea...",[William Malone],The last site you'll ever see.,"With four corpses on his hands, New York City ...",101,"[Horror, Thriller]","[Milagro Films, Franchise Pictures, DoRo Ficti...","[8, 9, 2002]",3.3,2002,-21097985,8,10,446
1161,tt0317676,7000000,13818181,House of the Dead,"[Jonathan Cherry, Tyron Leitso, Clint Howard, ...",[Uwe Boll],You won't last the night.,"Set on an island off the coast, a techno rave ...",90,"[Horror, Action, Thriller]","[Boll Kino Beteiligungs GmbH & Co. KG, Brightl...","[4, 11, 2003]",3.4,2003,6818181,4,17,375
1760,tt0799949,20000000,86865564,Epic Movie,"[Kal Penn, Adam Campbell, Jennifer Coolidge, J...","[Jason Friedberg, Aaron Seltzer]",We know it's big. We measured.,"When Edward, Peter, Lucy and Susan each follow...",86,"[Action, Adventure, Comedy]","[Twentieth Century Fox Film Corporation, Regen...","[1, 25, 2007]",3.4,2007,66865564,1,10,400
1175,tt0339034,12000000,4922166,From Justin to Kelly,"[Kelly Clarkson, Justin Guarini , Brandon Hens...",[Robert Iscove],The tale of two American Idols.,"A lonely, sexually repressed man. A depressed ...",90,"[Comedy, Romance]",[20th Century Fox],"[6, 20, 2003]",3.5,2003,-7077834,6,20,142
1424,tt0369226,20000000,10442808,Alone in the Dark,"[Christian Slater, Tara Reid, Stephen Dorff, F...",[Uwe Boll],Can mankind defeat the army of darkness unleas...,Edward Carnby is a private investigator specia...,96,"[Action, Fantasy, Horror, Thriller]","[Boll Kino Beteiligungs GmbH & Co. KG, Brightl...","[1, 28, 2005]",3.5,2005,-9557192,1,17,314
1742,tt0897361,12000000,9620399,I Know Who Killed Me,"[Lindsay Lohan, Julia Ormond, Neal McDonough, ...",[Chris Sivertson],There are two sides to every crime.,An idyllic small town is rocked when Aubrey Fl...,105,"[Crime, Horror, Mystery, Thriller]","[TriStar Pictures, 360 Pictures]","[7, 27, 2007]",3.8,2007,-2379601,7,20,355
168,tt2467046,16000000,19682924,Left Behind,"[Nicolas Cage, Chad Michael Murray, Lea Thomps...",[Vic Armstrong],The End Begins,A small group of survivors are left behind aft...,110,"[Thriller, Action, Science Fiction]",[Stoney Lake Entertainment],"[10, 3, 2014]",3.8,2014,3682924,10,11,155
1404,tt0383222,25000000,2405420,BloodRayne,"[Kristanna Loken, Ben Kingsley, Michelle Rodri...",[Uwe Boll],Revenge never tasted so sweet.,"In eighteenth century Romania, Rayne, a dhampi...",95,"[Action, Adventure, Fantasy, Horror]",[Boll KG],"[10, 22, 2005]",3.8,2005,-22594580,10,10,334
1156,tt0299930,54000000,7266209,Gigli,"[Ben Affleck, Jennifer Lopez, Justin Bartha, L...",[Martin Brest],Life doesn't play by the rules.,Gigli is ordered to kidnap the psychologically...,121,[Drama],"[City Light Films, Revolution Studios, Casey S...","[8, 1, 2003]",3.8,2003,-46733791,8,5,363
1512,tt0466342,20000000,48548426,Date Movie,"[Alyson Hannigan, Adam Campbell, Sophie Monk, ...","[Aaron Seltzer, Jason Friedberg]",An Unprotected Comedy,Spoof of romantic comedies which focuses on a ...,83,[Comedy],"[Regency Enterprises, Epsilon Motion Pictures,...","[2, 17, 2006]",3.9,2006,28548426,2,10,142
1880,tt0190374,35000000,15185241,Dungeons & Dragons,"[Justin Whalin, Jeremy Irons, Thora Birch, Bru...",[Courtney Solomon],This is no game.,The classic role-playing game comes to life in...,107,"[Action, Adventure, Fantasy, Science Fiction]","[New Line Cinema, Silver Pictures, Sweetpea En...","[12, 8, 2000]",3.9,2000,-19814759,12,18,365
590,tt0166276,75000000,5409517,Monkeybone,"[Brendan Fraser, Bridget Fonda, John Turturro,...",[Henry Selick],"If It Yells, If It Swings, It's Got To Be Monk...",After a car crash sends repressed cartoonist S...,93,"[Adventure, Fantasy, Animation, Action, Comedy]","[20th Century Fox, 1492 Pictures]","[2, 23, 2001]",4.0,2001,-69590483,2,10,366
688,tt1073498,30000000,84646831,Meet the Spartans,"[Sean Maguire, Carmen Electra, Ken Davitian, K...","[Jason Friedberg, Aaron Seltzer]","The Bigger the Hit, The Harder They Fall",From the creators of Scary Movie and Date Movi...,84,[Comedy],"[Regency Enterprises, New Regency Pictures]","[1, 24, 2008]",4.0,2008,54646831,1,17,399
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,"[Rene Russo, Jason Alexander, Piper Perabo, Ra...",[Des McAnuff],This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,"[Adventure, Animation, Action, Comedy, Family]","[Universal Pictures, Capella International, KC...","[6, 30, 2000]",4.0,2000,-40865180,6,36,337
596,tt0166110,10000000,7316658,Bones,"[Snoop Dogg, Pam Grier, Michael T. Weiss, Clif...",[Ernest R. Dickerson],"This Halloween, unleash the Dogg.","Over 20 years after his death by a gunshot, Ji...",96,"[Action, Horror, Thriller]",[New Line Cinema],"[10, 24, 2001]",4.0,2001,-2683342,10,5,152
355,tt0891592,50000000,12764201,Street Fighter: The Legend of Chun-Li,"[Kristin Kreuk, Chris Klein, Neal McDonough, M...",[Andrzej Bartkowiak],Some fight for power. Some fight for us.,"When a teenager, Chun-Li witnesses the kidnapp...",97,"[Action, Adventure, Science Fiction, Thriller]","[Twentieth Century Fox Film Corporation, Hyde ...","[2, 27, 2009]",4.1,2009,-37235799,2,37,219
782,tt0810913,79000000,149673788,Jack and Jill,"[Adam Sandler, Katie Holmes, Al Pacino, Eugeni...",[Dennis Dugan],His twin sister is coming for the holidays... ...,"Jack Sadelstein, a successful advertising exec...",91,[Comedy],"[Columbia Pictures, Happy Madison Productions,...","[11, 11, 2011]",4.2,2011,70673788,11,13,288
1050,tt1714203,5000000,8493728,Piranha 3DD,"[Danielle Panabaker, Matt Bush, Katrina Bowden...",[John Gulager],Twice the Teeth. Twice the Terror.,"After the events at Lake Victoria, the prehist...",83,"[Horror, Thriller, Comedy]","[Dimension Films, Mark Canton Productions, Int...","[5, 11, 2012]",4.2,2012,3493728,5,11,160

In [82]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [357]:
cast_list = []
pairs_dict = {}
actor1_num = 0
actor2_num = 1
pair = (actor1, actor2)
pairs_duplicate = (actor2, actor1)

for movies in data.cast:
    cast_list.append(movies)
    
for movie_cast in cast_list:
    actor1_num = 0
    actor2_num = 1
    for actor in movie_cast:
        for actor in movie_cast:
            while actor2_num < len(movie_cast):
                actor1 = movie_cast[actor1_num]
                actor2 = movie_cast[actor2_num]
                pair = (actor1, actor2)
                pairs_duplicate = (actor2, actor1)
                actor2_num +=1
                if pair not in pairs_dict.keys():
                    if pairs_duplicate not in pairs_dict.keys():
                        pairs_dict[pair] = 1
                    else:
                        pairs_dict[pairs_duplicate] += 1
                else:
                    pairs_dict[pair] += 1
            else:
                break
        actor1_num +=1
        actor2_num = actor1_num +1

for pair, number in pairs_dict.items():
    if number == max(pairs_dict.values()):
        print(pair, number)

('Daniel Radcliffe', 'Rupert Grint') 8
('Daniel Radcliffe', 'Emma Watson') 8
('Rupert Grint', 'Emma Watson') 8

In [351]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

ВАРИАНТ 2

# Submission

In [352]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [353]:
# и убедиться что ни чего не пропустил)
len(answers)

27